@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
html, body {
  scroll-behavior: smooth;
  transition: background 0.4s ease, color 0.4s ease;
}

/* TOAST VIEWPORT */
[data-radix-toast-viewport] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  max-width: 100vw;
  z-index: 99999;
  outline: none;
}

/* TOAST */
[data-radix-toast] {
  background: #1a1a1a;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  animation: slideIn 0.25s ease-out;
}

/* Close button (X) */
button[data-radix-toast-logo] {
  color: white;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
